*.log
*.exe
*.dll
*.pyd
__pycache__
*.pyc
dist/
*.egg-info
build/
*.bar
*.7z
*.cksum
*.sig
*.asc
docs/_build
.settings/
bbarchivist/__pycache__
bbarchivist/lazyloader
bbarchivist/scripts/__pycache__
bbarchivist/scripts/lazyloader
bbarchivist/tests/__pycache__
scripts/__pycache__
scripts/lazyloader
tests/__pycache__
tests/barutils/__pycache__
tests/filehashtools/__pycache__
tests/loadergen/__pycache__
tests/networkutils/__pycache__
tests/pseudocap/__pycache__
tests/smtputils/__pycache__
tests/sqlutils/__pycache__
tests/textgenerator/__pycache__
tests/utilities/__pycache__
venv/
.vs/
/bbarchivist/scripts/*.zip
.coverage
htmlcov/
