requests>0.0
python-gnupg>=0.3.9
#if you're using GnuPG 2.1: hg+https://bitbucket.org/vinay.sajip/python-gnupg
defusedxml>0.0
shutilwhich>0.0
beautifulsoup4>0.0
mock>0.0
pytest>=2.8.0
pytest-cov>0.0
httmock>0.0
sphinx>0.0
sphinx_rtd_theme>0.0
#pyinstaller>0.0
#versioneer + pyinstaller require pywin32!